<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="blobStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=dgimagestore;AccountKey=zeIjgj//IhDJ6OIxrhbMehdXANTAzPtZXhx8+wIwjs2OMZ+2DQwrMNT2cii6lNDoji7yQLH3Vm7SBtp8LL4pOA==;EndpointSuffix=core.windows.net" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>